* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.contaner {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
nav {
  height: 10%;
  width: 100%;
  box-shadow: 0px 0px 30px #d9d9d9;
  background-color: white;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero {
  margin-top: 40px;
  height: 60%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px #d9d9d9;
  display: flex;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

#logo {
  font-weight: 800;
  margin: 20px;
  font-size: 20px;
}
#menu {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 10px;
}
li {
  cursor: pointer;
  font-weight: 500;
}
image {
  object-fit: cover;
}

#text {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-start;
}

#text h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 40px;
  color: #444;
  text-align: center;
  font-weight: 600;
  line-height: 1.4;
}

#buy {
  padding: 4px;
  background-color: rgb(255, 111, 34);
  width: 120px;
  height: 40px;
  border: none;
  font-weight: 700;
  color: white;
  outline: none;
  border-radius: 10px;
  align-self: center;
}

#content {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  justify-items: center;
  align-items: center;
}

#price {
  display: flex;
  flex-direction: column;
  color: #444;
  gap: 4px;
}

#items {
  width: 80%;
  height: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.box{
height: 220px;
width: 30%;
background-color: white;
box-shadow: 0px 0px 20px #d9d9d9;
display: flex;
padding: 4px;
flex-direction: column;
border-radius: 10px;
}



.imgs{
  height: 50%;
  width: 100%;
  display: flex;
justify-content: center;
}

.fruitname{
  margin-top:12px;
  padding-left: 10px;
}

.fruitprice{
  margin-top: 5px;
  font-size: 10px;
}
.Btn{
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  height:25px;
  outline: none;
  border: none;
  font-size: 10px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}